.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #f5f8ff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 350px;
  margin: 2rem auto;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
}

.label {
  cursor: pointer;
  border: 2px dashed #007bff;
  padding: 1rem;
  border-radius: 12px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #e2e8f0;
  transition: background-color 0.3s ease;
  text-align: center;
  color: #555;
}

.label:hover {
  background-color: #cbd5e1;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.fileInput {
  display: none;
}

.actions {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.buttonSave {
  background-color: #007bff;
  border: none;
  padding: 0.6rem 1.2rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.buttonSave:hover {
  background-color: #0056b3;
}

.buttonCancel {
  background-color: #ddd;
  border: none;
  padding: 0.6rem 1.2rem;
  color: #333;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.buttonCancel:hover {
  background-color: #bbb;
}
